.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.segmentBlock {
  width: 50%;
  height: 100vh;
}

.segmentInformation {
  text-align: center;
  background-image: url("../assets/businessman-g46770c33e_1280.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.segment3D {
  background: white;
}

@media only screen and (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .segmentBlock {
    width: 100%;
    height: 80vh;
  }
}
