.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.segmentBlock {
  width: 50%;
  height: 100vh;
}
.segmentInformation {
  position: relative;
  text-align: center;
}
.segment3D {
  background: white;
}
.segmentInformationImageBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 150%;
  height: 100%;

  z-index: -10000;
  object-fit: cover;
  opacity: 0.2;
}

@media only screen and (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .segmentBlock {
    width: 100%;
    height: 70vh;
  }
  .segmentInformationImageBg {
    height: 180%;
  }
}
