.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh; /*100%*/
  overflow-x: hidden;
}
.segmentBlock {
  width: 50%;
  max-height: 100vh;
}
.segmentInformation {
  position: relative;
  padding: 30px 0px;
  text-align: center;
}
.segmentInformation::after {
  position: absolute;
  z-index: -999;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  content: "";
  background-image: url("../assets/businessman-g46770c33e_1280.jpg");
  background-size: cover;
  opacity: 0.3;
}
.segment3D {
  min-height: 50vh;
  background: white;
}
.label-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input[type="number"],
select {
  display: block;
  width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .segmentBlock {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 330px) {
  .label-group {
    flex-direction: column;
  }
  input[type="number"] {
    width: 100%;
  }
}
