* {
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.segmentBlock {
  width: 50%;
}
.segmentInformation {
  position: relative;
  padding: 3px 0px 80px 0px;
  text-align: center;
}
.segmentInformation::after {
  position: absolute;
  z-index: -999;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  content: "";
  background-image: url("../assets/businessman-g46770c33e_1280.jpg");
  background-size: cover;
  opacity: 0.3;
}
.segment3D {
  min-height: 50vh;
  background: white;
}
.label-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input[type="number"],
select {
  display: block;
  width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  position: relative;
  width: 10px;
  height: 10px;
  outline: none;
  -webkit-appearance: none;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #57649c;
  transition: 0.1s all linear;
}

input[type="checkbox"]:checked::after {
  width: 6px;
  height: 12px;
  border-top: none;
  border-left: none;
  border-bottom-width: 3px;
  border-right-width: 3px;
  transform: rotate(45deg) translate(0%, -30%);
}

.button,
.buttonBgTransparent {
  display: inline-block;
  padding: 4px 10px;
  border: none;
  margin: 0 3px;
  cursor: pointer;
  transition: 0.1s all linear;
}

.button {
  background: #57649c;
  color: #ffffff;
}

.buttonBgTransparent {
  background: transparent;
  font-weight: bold;
  color: #57649c;
}

.button:active,
.buttonBgTransparent:active {
  transform: scale(0.8);
}

@media only screen and (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .segmentBlock {
    width: 100%;
  }
}
@media only screen and (max-width: 330px) {
  .label-group {
    flex-direction: column;
  }
  input[type="number"] {
    width: 100%;
  }
}
